img {
    width: 100%;
}

body {
    margin: 0 auto;
}

/*HEADER*/
.logo img {
    width: 45vw;
    display: block;
    margin: auto;
    margin-top: -8vw;
}

.menu-button img {
    width: 10vw;
    display: block;
    margin: auto;
    margin-top: -14vw;
}

.hide {
    visibility: hidden;
}

#menu {
    position: absolute;
    background-color: #74BA9B;
    height: 50vw;
    margin-top: 9vw;
    width: 89vw;
}

#menu li a {
    font-family: avenir;
    text-decoration: none;
    color: black;
    display: block;
    margin-left: -10vw;
}

#menu li {
    list-style: none;
    text-align: center;
    width: 100%;
    line-height: 12vw;
}

/*SPLASH*/
.splash img {
    margin: auto;
    margin-top: 9vw;
}

/*MEDIAQUERY*/

@media only screen and (min-width: 769px) {

    .logo img {
        width: 16vw;
        margin: auto;
        margin-top: -2vw;
    }


    .menu-button {
        display: none;
    }

    #menu {
        position: absolute;
        height: 50vw;
        display: inline-block;
        background-color: transparent;

    }

    #menu li a {
        font-family: avenir;
        text-decoration: none;
        color: black;
        list-style: none;
        display: inline-block;
    }

    #menu li {
        display: inline-block;
    }

    .splash img {
        margin: auto;
    }


}

.ret {
    margin: 2vw;
    cursor: pointer;
    font-family: avenir;
    background-color: rgb(189, 217, 204);
    text-align: center;
    color: white;
}

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-bottom: 2em;
    margin: 0vw 6vw;
}

#singleview {
    width: 100vw;
    height: 90vh;
    position: fixed;
    background-color: orange;
    display: none;
}

#indhold {
    box-sizing: border-box;
    background-color: lightgray;
    ;
    width: 90vw;
    margin: auto;
}

.madmenu{
    text-align: center;
}

.madmenu button{
    font-size: 1.8rem;
    font-family: avenir;
    padding: 0vw 1vw;
    border: none;
    background-color: white;
}

.madmenu button:hover {
    text-decoration: none;
    border-bottom: 3px solid #F5D301;
    background-color: white;

}

.madmenu button:active {
    text-decoration: none;
    border-bottom: 3px solid #F5D301;
    background-color: white;
}

}
