img {
    width: 100%;
}

body {
    margin: 0 auto;
}

/*HEADER*/
.logo img {
    width: 50vw;
    display: block;
    margin: auto;
    margin-top: -8vw;
}

.menu-button img {
    width: 10vw;
    display: block;
    margin: auto;
    margin-top: -14vw;
}

.hide {
    visibility: hidden;
}

#menu {
    position: absolute;
    background-color: #74BA9B;
    height: 50vw;
    margin-top: 9vw;
    width: 89vw;
}

#menu li a {
    font-family: avenir;
    text-decoration: none;
    color: black;
    display: block;
    margin-left: -10vw;
}

#menu li {
    list-style: none;
    text-align: center;
    width: 100%;
    line-height: 12vw;
}

/*SPLASH*/
.splash img {
    margin: auto;
    margin-top: 9vw;
}
