img {
    width: 100%;
}

body {
    margin: 0 auto;
}

/*HEADER*/
.logo img {
    width: 45vw;
    display: block;
    margin: auto;
    margin-top: -8vw;
}

.menu-button img {
    width: 10vw;
    display: block;
    margin: auto;
    margin-top: -14vw;
}

.hide {
    visibility: hidden;
}

#menu {
    position: absolute;
    background-color: #74BA9B;
    margin-top: 9vw;
    width: 89vw;
}

#menu li a {
    font-family: avenir;
    text-decoration: none;
    color: black;
    display: block;
    margin-left: -10vw;
}

#menu li {
    list-style: none;
    text-align: center;
    width: 100%;
    line-height: 12vw;
}

/*SPLASH*/
.splash img {
    margin: auto;
    margin-top: 9vw;
}

/*FORSIDE*/
.kasse1 {
    background-color: #FCCFEC;
    width: 100%;
    height: 30vw;
    margin-top: -1vw;
    padding-bottom: 7vw;
}


.quote {
    display: none;
}

.las-mere {
    font-family: avenir;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.las-mere a {
    text-decoration: none;
    color: black;

}

/*MENU*/
.ret {
    margin: 2vw;
    cursor: pointer;
    font-family: avenir;
    background-color: rgb(189, 217, 204);
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

#liste {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2em;
    margin: 0vw 2vw;
}


.madmenu {
    text-align: center;
}

.madmenu button {
    font-size: 1.1rem;
    font-family: avenir;
    padding: 8vw 1vw 6vw;
    border: transparent;
    background-color: white;
}


.madmenu button:active {
    text-decoration: none;
    border-bottom: 3px solid #F5D301;
    background-color: white;
}

/*SINGLEVIEW*/

#singleview {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

#indhold {
    box-sizing: border-box;
    ;
    width: 30vw;
    margin: auto;
    margin-top: 14vw;
}


/*--------------------MEDIAQUERY FOR WEBSITE---------------------*/

@media only screen and (min-width: 769px) {

    .logo img {
        width: 16vw;
        margin-top: -2vw;
    }



    /*MENU*/

    .hide {
        visibility: visible;
    }

    .menu-button {
        display: none;
    }

    #menu {
        background-color: transparent;
        margin-top: -4vw;
        pointer-events: none;
    }

    #menu li {
        display: inline-block;
        width: 5vw;
        margin-top: -80vw;
        margin-left: 15vw;
        line-height: 0;

    }

    #menu li a {
        padding: 0;
    }

    /*SPLASH*/
    .splash img {
        margin: auto;
    }

    /*GRID*/
    .ret {
        margin: 2vw;
        font-size: 0.7rem;
    }

    #liste {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        margin-bottom: 2em;
        margin: auto;
        margin: 0vw 2vw;

    }

    .madmenu button {
        font-size: 1rem;
        padding: 1vw 1vw 1vw;
    }

    .madmenu button:hover {
        border-bottom: 3px solid #F5D301;
        padding: 1vw 1vw 1vw;
    }

    .kasse1 {
        height: 15vw;
    }

    .quote {
        display: block;
    }

    .quote img {
        width: 10vw;

    }

    .quote_tekst {
        color: white;
        font-size: 4rem;
        font-style: italic;
        font-family: avenir;
        position: absolute;
        left: 10vw;
        top: 80vw;
    }

    .las-mere {
        font-size: 3rem;
    }
}
